version: '3.8'

services:
  server:
    build: ./server/
    container_name: server
    ports:
      - "5001:5001"
    volumes:
      - ./server/src:/app/src
      - /app/node_modules
    command: npm run dev
    depends_on:
      - qdrant

  qdrant:
    image: qdrant/qdrant:v1.8.3
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_data:/qdrant/storage

  client:
    build: ./client/
    container_name: client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app/client
      - /app/client/node_modules
    depends_on:
      - server
